[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-limiter = "*"
flask-basicauth = "*"
requests = "*"
sms-counter = {git = "https://github.com/dedayoa/sms-counter-python.git"}

[dev-packages]

[requires]
python_version = "3.10"
